# Core
streamlit==1.31.1
python-dotenv==1.0.1
pymupdf==1.23.26
numpy==1.26.4
pandas
scikit-learn
watchdog==6.0.0

# ML stack (LOCKED)
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.2.2
huggingface_hub==0.19.4

# LLM
groq==1.0.0
